<div style="width: auto; text-align: center; padding: 0px">
  <div style="padding: 10px 10px;">
    <table style="width:100%">
      <tr>
        <td><%= link_to image_tag("logos/homepage/2013/albancat_logo.png", :width => '100px'), public_profile_employer_path(26232) %></td>
        <td><%= link_to image_tag("logos/homepage/2013/amazon_logo.jpg", :width => '100px'), public_profile_employer_path(27699) %></td>
        <td><%= link_to image_tag("logos/homepage/2013/ashford_logo.jpg", :width => '100px'), public_profile_employer_path(28656) %></td>
        <td><%= link_to image_tag("logos/homepage/2013/averitt_logo.gif", :width => '100px'), public_profile_employer_path(27219) %></td>
      </tr><tr>
        <td><%= link_to image_tag("logos/homepage/2013/camber_logo.jpg", :width => '100px'), public_profile_employer_path(22896) %></td>
        <td><%= link_to image_tag("logos/homepage/2013/caterpillar_logo.gif", :width => '100px'), public_profile_employer_path(28275) %></td>
        <td><%= link_to image_tag("logos/homepage/2013/chenega_logo.jpg", :width => '100px'), public_profile_employer_path(28579) %></td>
        <td><%= link_to image_tag("logos/homepage/2013/cleveland_brothers_logo.jpg", :width => '100px'), public_profile_employer_path(27900) %></td>
      </tr><tr>
        <td><%= link_to image_tag("logos/homepage/2013/coca_cola_logo.jpg", :width => '100px'), public_profile_employer_path(24174) %></td>
        <td><%= link_to image_tag("logos/homepage/2013/csu_logo.png", :width => '100px'), public_profile_employer_path(30636) %></td>
        <td><%= link_to image_tag("logos/homepage/2013/ddl_omni_logo.jpg", :width => '100px'), public_profile_employer_path(30657) %></td>
        <td><%= link_to image_tag("logos/homepage/2013/dnc_logo.jpg", :width => '100px'), public_profile_employer_path(31361) %></td>
      </tr><tr>
        <td><%= link_to image_tag("logos/homepage/2013/devry_logo.jpg", :width => '100px'), public_profile_employer_path(28294) %></td>
        <td><%= link_to image_tag("logos/homepage/2013/eaton_logo.jpg", :width => '100px'), public_profile_employer_path(31243) %></td>
        <td><%= link_to image_tag("logos/homepage/2013/eng_logo.jpg", :width => '100px'), public_profile_employer_path(28845) %></td>
        <td><%= link_to image_tag("logos/homepage/2013/hp_logo.jpg", :width => '100px'), public_profile_employer_path(29650) %></td>
      </tr><tr>
        <td><%= link_to image_tag("logos/homepage/2013/mcr_logo.jpg", :width => '100px'), public_profile_employer_path(27898) %></td>
        <td><%= link_to image_tag("logos/homepage/2013/nrc_logo.jpg", :width => '100px'), public_profile_employer_path(27275) %></td>
        <td><%= link_to image_tag("logos/homepage/2013/nsa_logo.jpg", :width => '100px'), public_profile_employer_path(29505) %></td>
        <td><%= link_to image_tag("logos/homepage/2013/rhi_logo.jpg", :width => '100px'), public_profile_employer_path(29275) %></td>
      </tr><tr>
        <td><%= link_to image_tag("logos/homepage/2013/sentara_logo.jpg", :width => '100px'), public_profile_employer_path(29779) %></td>
        <td><%= link_to image_tag("logos/homepage/2013/shell_logo.gif", :width => '100px'), public_profile_employer_path(30969) %></td>
        <td><%= link_to image_tag("logos/homepage/2013/snap_on_tools_logo.jpg", :width => '100px'), public_profile_employer_path(30990) %></td>
        <td><%= link_to image_tag("logos/homepage/2013/sodexo_logo.jpg", :width => '100px'), public_profile_employer_path(30327) %></td>
      </tr><tr>
        <td><%= link_to image_tag("logos/homepage/2013/statefarm_logo.jpg", :width => '100px'), public_profile_employer_path(29773) %></td>
        <td><%= link_to image_tag("logos/homepage/2013/usba_logo.gif", :width => '100px'), public_profile_employer_path(30295) %></td>
        <td><%= link_to image_tag("logos/homepage/2013/wm_logo.jpg", :width => '100px'), public_profile_employer_path(26534) %></td>
      </tr>
    </table>
  </div>
</div>

<script>
  function track_lockheed() {
    $$('body')[0].insert({
      bottom: new Element('img', {src: 'http://bs.serving-sys.com/BurstingPipe/adServer.bs?cn=tf&c=19&mc=imp&pli=477', style: 'display:none'})
    });
    return true; 
  }
</script>
