<%= content_for :title_tag do %>
	Featured Military Friendly Schools and Education Programs
<% end %>
<%= content_for :meta_keywords do %>
	education, military friendly schools, universities, career training, post 9-11 gi bill, Montgomery gi bill, veteran education benefits, academic programs, certification, tuition assistance, military transition, chapter 34, yellow ribbon
<% end %>

<%= content_for :meta_description do %>
	Corporate Gray Education page has military friendly schools and universities that provide certification training and academic degrees for military veterans.
<% end %>

<% content_for :breadcrums do %>
  <%= render :partial => "shared/breadcrums", 
    :locals => { :path => [ 
      {:home => welcome_path},
      :career_training
  ] } %>
<% end %>


<div class="static">

  <div style="text-align: center; color: #4c4c4c; ">
    <h2>Featured Schools</h2>
    <p style="margin: 10px 80px; font-weight: bold;">Your free Corporate Gray series book, <i>The Military-to-Civilian Transition Guide</i>, 
    is made possible in part by these schools:</p> 
  </div>


  <div style="margin-left: auto; margin-right: auto; margin-top: 50px; margin-bottom: 70px; width: 215px">
    <ul>
      <li><%= link_to "Ashford University", "#ashford" %></li>
      <li><%= link_to "Columbia Southern University", "#csu" %></li>
      <li><%= link_to "DeVry University", "#devry" %></li>
    </ul>
  </div>

  <div style="margin-top: 2em; border-top: 1px solid #CCC;;" id="ashford">
    <div style="text-align: center;">
      <%= link_to image_tag("/images/logos/ashford_university_logo.jpg", :height => "80px"), "http://www.military.ashford.edu/gray", :target => "_blank" %>
    </div>

    <div>

      <h3 style="margin-top:10px">Overview</h3>
      <p>Founded in 1918, Ashford University has helped thousands of students move ahead in life through 
      higher education. You can be next. Ashford University has 100% online programs and is an ideal choice 
      for working adults and those with uncompleted degrees.</p>
      <p>Affordable * Accredited * Convenient
      <br/>
      Private Education made affordable. At Ashford University, you'll benefit from a high-quality degree 
      program at one of the lowest costs available...anywhere. If your employer offers tuition assistance, 
      we'll help you apply it towards your education. Financial Aid and GI Bill benefits are also available 
      to those students that qualify.</p>

      <h3>Programs</h3>
      <p>Ashford University offers associate, bachelor, and master’s degrees. Here you will find the degree 
      that matches your personal goals. Pursue a course of study from anywhere on Earth in their College of 
      Business and Professional Studies, College of Health, Human Services, and Science, College of Education, 
      or College of Liberal Arts.</p>

      <h3>Military</h3>
      <p>Duty * Honor * Education<br/>
      Technology has transformed the way you deploy overseas. What if technology could connect you to your 
      degree? It’s possible. You have the technology to belong to a worldwide learning community. That 
      community is Ashford University.</p>
    </div>
  </div>

  <br/>

  <div style="margin-top: 2em; border-top: 1px solid #CCC;;" id="csu">
    <div style="text-align: center; margin-top:20px;">
      <%= link_to image_tag("/images/logos/homepage/2013/csu_logo.png", :width => "150px"), "http://www.columbiasouthern.edu", :target => "_blank" %>
    </div>

    <div>

      <h3>Overview</h3>
      <p>Columbia Southern University is an online university based in Orange Beach, Ala., that strives to 
      change and improve lives through higher education by enabling students to maximize their professional 
      and personal potential.</p>

      <h3>Programs</h3>
      <p>A subsidiary of Columbia Southern Education Group, CSU offers online degree programs at the associate, 
      bachelor, master and doctoral level in a multitude of areas such as occupational safety and health, 
      fire science, criminal justice, business administration, information technology, human resource management 
      and health care administration. CSU also features undergraduate and graduate certificate programs to provide 
      focused training in specialized areas for adult learners.</p>
      <p>As one of the nation’s top online universities, CSU continually strives to improve and adapt their degree 
      curriculums, outstanding customer service and outreach programs.</p>

      <h3>Military</h3>
      <p>Recognized as one of the top 20 schools for military education by Military Advanced Education, more than 
      half of the students enrolled at CSU are members of the U.S. military. Online programs, flexible enrollment 
      and courses and affordable tuition allow those in the military to achieve a quality education while preserving 
      our nation's freedom.</p>
      <p>Transfer credit is awarded for military training and prior coursework. Up to 75 percent of undergraduate courses 
      and 50 percent of graduate courses can be transferred. Dependents of active-duty and veterans receive a 10-percent 
      tuition discount.</p>
      <p>CSU is approved to offer DANTES, Tuition Assistance (TA) and Veteran Affairs (VA) benefits. Additional education 
      funding is available to those approved for TA and eligible for MGIB-Active Duty benefits. In most cases, these benefits 
      cover the entire cost of the program. Students can complete seven undergraduate courses or six graduate courses annually 
      without exceeding the DoD annual ceiling of $4,500. The CSU tuition rate for undergraduate and graduate courses is 
      below the DoD semester hour cap of $250.</p>
    </div>
  </div>

  <div style="margin-top: 2em; border-top: 1px solid #CCC;;" id="devry">
    <div style="text-align: center;">
      <%= link_to image_tag("/images/logos/devry_university_logo.jpg", :width => "180px"), "http://www.devry.edu", :target => "_blank" %>
    </div>

    <div>

      <h3>Overview</h3>
      <p>DeVry University has a long history of providing quality, integrity, and innovation in higher 
      education. We have helped students earn associate, bachelor, and master's degrees in a variety 
      of in-demand fields for the last 80 years. With more than a quarter-million alumni, we are proud 
      to be one of the largest private, degree-granting, regionally accredited higher education systems 
      in North America.</p>
      <p>Our five colleges are focused on today’s more relevant areas of study, offering associate, 
      bachelor, and master’s degree programs and specializations covering 34 different career fields. And 
      our Keller Graduate School of Management offers graduate programs in 15 distinct areas of concentration. 
      With more than 90 locations and online, this is an education designed to help you take the next step 
      towards your career goals.</p>

      <h3>Programs</h3>
      <p>Choose from associate, bachelor, and master's degree programs within five distinguished colleges: 
      Business & Management, Engineering & Information Sciences, Health Sciences, Liberal Arts & Sciences, 
      and Media Arts & Technology.</p>

      <h3>Admissions for Military Students</h3>
      <p>Following World War II, DeVry University was one of the first schools approved to use the original 
      G.I. Bill. Today, we remain committed to helping you achieve academic success as you continue to serve 
      our country. Visit our Admissions for Military Students to read more college admissions information 
      related to your branch of the U.S. military.</p>
    </div>
  </div>
</div>

<% content_for :right do %>
  <h3>Important Education Resources for Veterans</h3>
  <ul>
    <li><%= link_to "DoD Voluntary Education Program", "http://apps.mhf.dod.mil/pls/psgprod/f?p=VOLED:HOME:0", :target => "_blank" %></li>
    <li><%= link_to "Veteran's Benefits & Services", "http://www.gibill.va.gov", :target => "_blank" %></li>
  </ul>

  <br/> 

  <iframe width="300" src="http://www.youtube.com/embed/qhYiLQ2gRZk?rel=0" frameborder="0" allowfullscreen></iframe>

  <div style="margin-top: 10px; height: 10px">&nbsp;</div>

  <%= render :partial => "/shared/featured_employer_skyscraper" %>
<% end %>
